# Multi-dimensional arrays and more
numpy==1.17.0
# Scientific computing and more
scipy==1.2.2
# Data manipulation and analysis
pandas==0.25.0
# Machine learning library
scikit_learn==0.21.3
# Micro web framework
Flask==1.1.1